In [1]:
from sqlalchemy import create_engine
import pymssql
import pandas as pd

server = "mssql-82792-0.cloudclusters.net:16272"
username = "user"
password = "" # paste password between quote marks
database = "ghz"
string = "mssql+pymssql://" + username + ":" + password + "@" + server + "/" + database
conn = create_engine(string).connect()

In [2]:
# list of tables
# 
# pd.read_sql("select * from information_schema.tables", conn)

In [3]:
# list of columns in data table
# 
# df = pd.read_sql("select * from data where 1=2", conn)
# for col in df.columns: print(col)

In [6]:
data = pd.read_sql(
    """
    select ticker, permno, siccd, date, ret, roeq from data
    where date>='2010-01-01'
    """, 
    conn
)
data.head()

  ticker  permno     date       ret      roeq
0   EWST   10001  2000-01 -0.044118  0.017047
1   SABC   10002  2000-01 -0.025641  0.027942
2   IROQ   10009  2000-01 -0.008475  0.031816
3   DPAC   10012  2000-01 -0.097276  0.045041
4   SCTT   10016  2000-01 -0.099338  0.061219